.dami__contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--color-footer);
}

.dami__contact-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.dami__contact-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04em;
}

.dami__contact-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.dami__contact-container_row {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.dami__contact-container_row__input {
    width: 500px;
    height: 55.23px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dami__contact-container_row__input input {
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
    background: #fff;
    padding: 0 1rem;
    outline: none;
    color: #4F4F4F;
    border-radius: 5px;
    border: none;
}

.dami__contact-container_row__input input::placeholder {
    color: #4F4F4F;
    font-weight: normal;
}

.dami__contact-container_row__input-message {
    width: 500px;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
}

.dami__contact-container_row__input-message textarea {
    width: 100%;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
    background: #fff;
    padding: 1rem 1rem 10rem 1rem;
    color: #4F4F4F;
    border-radius: 5px;
    outline: none;
    border: none;
    resize: none;
}

.dami__contact-container_row__input-message textarea::placeholder {
    color: #4F4F4F;
    font-weight: normal;
}

.dami__contact-container button {
    width: 130px;
    min-height: 50px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.4%);
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.dami__contact-container button p {
    margin-top: 0;
    color:#fff;
    font-weight: 500;
    font-size: 15px;
}

@media screen and (max-width: 700px) {
    .dami__contact-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }

    .dami__contact-container {
        padding: 0 4rem;
    }

    .dami__contact-container_row {
        width: 100%;
    }

    .dami__contact-container_row__input {
        width: 100%;
    }

    .dami__contact-container_row__input-message {
        width: 100%;
    }
}

@media screen and (max-width: 550px) { 
    .dami__contact-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .dami__contact-container_row__input input {
        font-size: 15px;
    }

    .dami__contact-container_row__input-message textarea {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .dami__contact-container {
        width: 400px;
        padding: 0 4rem;
    }
}