* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

a {
     color: unset;
     text-decoration: none;
}

.gradient__bg {
    z-index: -1;
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient__span {
    background: var(--gradient-span);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

/**
* ----------------------------------------
* animation swirl-in-tr-fwd
* ----------------------------------------
*/
.swirl-in-tr-fwd {
	-webkit-animation: swirl-in-tr-fwd 0.6s ease-out both;
	        animation: swirl-in-tr-fwd 0.6s ease-out both;
}

@-webkit-keyframes swirl-in-tr-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
                transform: rotate(-540deg) scale(0);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 1;
    }
    }
    @keyframes swirl-in-tr-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
                transform: rotate(-540deg) scale(0);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 1;
    }
}

/**
* ----------------------------------------
* animation swirl-out-tr-bck
* ----------------------------------------
*/

.swirl-out-tr-bck {
	-webkit-animation: swirl-out-tr-bck 0.6s ease-in both;
	        animation: swirl-out-tr-bck 0.6s ease-in both;
}

@-webkit-keyframes swirl-out-tr-bck {
    0% {
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-540deg) scale(0);
                transform: rotate(-540deg) scale(0);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 0;
    }
    }
    @keyframes swirl-out-tr-bck {
    0% {
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-540deg) scale(0);
                transform: rotate(-540deg) scale(0);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 0;
    }
}
  
  
  
/**
* ----------------------------------------
*/

@media screen and (max-width: 700px) { 
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 550px) { 
    .section__padding {
        padding: 4rem 2rem;
    }
    
    .section__margin {
        margin: 4rem 2rem;
    }
}
  