.dami__header {
    display: flex;
    z-index: 0;
    position: relative;
}

.dami__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.dami__header-waves {
    position: relative;
    width: 1000px;
    height: 1000px;
    top: -500px;
    opacity: 1;
}

.dami__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.dami__header-content p {
    font-family: var(--font-family);
    font-size: 17px;
    line-height: 23px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.dami__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.dami__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dami__header-content__input button {
    flex: 1;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.4%);
    padding: 0 1rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    cursor: pointer;
}
.dami__header-content__input button p {
    margin-top: 0;
    color:#fff;
    font-size: 15px;
}

.dami__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6rem;
}

.dami__header-image img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1385px) {
    .dami__header-image {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 6rem 0 0;
    }

    .dami__header-content__input input,
    .dami__header-content__input button p {
        font-size: 15px;
        line-height: 27px;
    }

    .dami__header-content h1 {
        font-size: 40px;
        line-height: 55px;
    }

    .dami__header-content__input button p {
        font-size: 15px;
    }
}

@media screen and (max-width: 1050px) { 
    .dami__header {
        flex-direction: column;
    }

    .dami__header-content {
        margin: 0 0 3rem;
    }

    .dami__header h1 {
        font-size: 55px;
        line-height: 60px;
    }

    .dami__header p {
        font-size: 20px;
        line-height: 30px;
    }

    .dami__header-image {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 6rem;
    }
    
    .dami__header-content__input button p {
        font-size: 15px;
    }
}

@media screen and (max-width: 650px) { 
    .dami__header h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .dami__header p {
        font-size: 16px;
        line-height: 24px;
    }

    .dami__header-content__input input,
    .dami__header-content__input button p {
        font-size: 16px;
        line-height: 24px;
    }

    .dami__header-image {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 490px) { 
    .dami__header h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .dami__header p {
        font-size: 14px;
        line-height: 24px;
    }

    .dami__header-content__input button {
        flex: 1;
    }

    .dami__header-content__input input,
    .dami__header-content__input button p {
        font-size: 12px;
        line-height: 16px;
    }
}